<mat-card>
  <mat-card-content>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <h2>Reset Password</h2>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="resetPasswordForm.controls.password.errors?.required">
          Password is required.
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.controls.password.errors?.pattern">
          Invalid password.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
        <mat-error *ngIf="resetPasswordForm.controls.confirmPassword.errors?.required">
          Confirm password is required.
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.controls.confirmPassword.errors?.pattern">
          Invalid confirm password.
        </mat-error>
      </mat-form-field>
      <mat-error
        *ngIf="
          resetPasswordForm.controls.password.touched &&
          resetPasswordForm.controls.confirmPassword.touched &&
          resetPasswordForm.hasError('passwordsDoNotMatch')
        "
      >
        Passwords do not match.
      </mat-error>
      <button mat-raised-button color="primary" type="submit">Confirm</button>
    </form>
  </mat-card-content>
</mat-card>
