<ng-container *ngIf="loading$ | async; else noLoading">
  <bootstrapbugz-loader></bootstrapbugz-loader>
</ng-container>
<ng-template #noLoading>
  <mat-card>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="signInForm">
        <h2>Log In</h2>
        <mat-form-field appearance="outline">
          <mat-label>Username or Email</mat-label>
          <input formControlName="usernameOrEmail" matInput type="text" />
          <mat-error *ngIf="signInForm.controls.usernameOrEmail.errors?.required">
            Username or Email is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput type="password" />
          <mat-error *ngIf="signInForm.controls.password.errors?.required">
            Password is required.
          </mat-error>
        </mat-form-field>
        <a mat-button routerLink="/auth/forgot-password">Forgot password?</a>
        <button
          (click)="resendConfirmationEmail()"
          [disabled]="disableResendButton"
          mat-button
          type="button"
        >
          Resend confirmation email
        </button>
        <button color="primary" mat-raised-button type="submit">Sign In</button>
      </form>
    </mat-card-content>
  </mat-card>
</ng-template>
