<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/reusable/header :: head(title='Activate Account')"></head>
<body>
<div th:replace="/reusable/scripts :: scripts"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Activate Account</h1>
                <div class="details">
                    Please go to your email and activate account.
                </div>
                <div class="actions">
                    <a href="/login" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-home"></span>Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>