<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/reusable/header :: head(title='Edit Employee')"></head>
<body>
<div th:replace="/reusable/scripts :: scripts"></div>
<div th:replace="/reusable/navbar_app :: navbarApp"></div>
<div class="container">
    <div class="col-xl-3 col-lg-6 col-md-8 col-sm-10 mx-auto form p-4">
        <form th:action="@{/employee/edit}" th:object="${employee}" th:method="post">
            <h4 class="text-center">Edit Employee</h4>
            <input type="hidden" id="id" name="id" th:value="${employee.id}">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" th:value="${employee.firstName}"
                       class="form-control">
                <span class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" th:value="${employee.lastName}" class="form-control">
                <span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" th:value="${employee.email}" class="form-control">
                <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" id="phoneNumber" name="phoneNumber" th:value="${employee.phoneNumber}"
                       class="form-control">
                <span class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
            </div>
            <div class="form-group">
                <label for="salary">Salary</label>
                <input type="number" id="salary" name="salary" th:value="${employee.salary}" class="form-control">
                <span class="text-danger" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></span>
            </div>
            <div class="form-group">
                <label for="hireDate">Hire Date</label>
                <input type='text' class="form-control" id='hireDate' name="hireDate" th:value="${employee.hireDate}"
                       autocomplete="off">
                <span class="text-danger" th:if="${#fields.hasErrors('hireDate')}" th:errors="*{hireDate}"></span>
                <script type="text/javascript">
                    $(function () {
                        $('#hireDate').datetimepicker({
                            format: 'dd.mm.yyyy.',
                            minView: 2,
                            autoclose: true,
                        });
                    });
                </script>
            </div>
            <div class="form-group">
                <label for="department">Department</label>
                <select class="form-control" id="department" name="department">
                    <option th:each="department : ${departments}" th:value="${department.id}"
                            th:text="${department.name}"
                            th:selected="${department.id == employee.department?.id}"></option>
                </select>
                <span class="text-danger" th:if="${#fields.hasErrors('department')}" th:errors="*{department}"></span>
            </div>
            <div class="form-group" style="float: right">
                <input type="submit" class="btn btn-success" value="Update">
            </div>
        </form>
    </div>
</div>
</body>
</html>