<ng-container *ngIf="loading$ | async; else noLoading">
  <bootstrapbugz-loader></bootstrapbugz-loader>
</ng-container>
<ng-template #noLoading>
  <mat-card>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm">
        <h2>Forgot Password</h2>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput type="email" />
          <mat-error *ngIf="forgotPasswordForm.controls.email.errors?.required">
            Email is required.
          </mat-error>
          <mat-error *ngIf="forgotPasswordForm.controls.email.errors?.email">
            Invalid email.
          </mat-error>
        </mat-form-field>
        <button color="primary" mat-raised-button type="submit">Confirm</button>
      </form>
    </mat-card-content>
  </mat-card>
</ng-template>
