<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/reusable/header :: head(title='Edit Department')"></head>
<body>
<div th:replace="/reusable/scripts :: scripts"></div>
<div th:replace="/reusable/navbar_app :: navbarApp"></div>
<div class="container">
    <div class="col-xl-3 col-lg-6 col-md-8 col-sm-10 mx-auto form p-4">
        <form th:action="@{/location/edit}" th:object="${location}" th:method="post">
            <h4 class="text-center">Edit Location</h4>
            <div class="form-group">
                <label for="street">Street</label>
                <input type="text" id="street" name="street" class="form-control" th:value="${location.street}">
                <span class="text-danger" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></span>
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" id="city" name="city" class="form-control" th:value="${location.city}">
                <span class="text-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <input type="text" id="country" name="country" class="form-control" th:value="${location.country}">
                <span class="text-danger" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></span>
            </div>
            <div class="form-group" style="float: right">
                <input type="submit" class="btn btn-success" value="Update">
            </div>
        </form>
    </div>
</div>
</body>
</html>