<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/reusable/header :: head(title='Locations')"></head>
<body>
<div th:replace="/reusable/scripts :: scripts"></div>
<div th:replace="/reusable/navbar_app :: navbarApp"></div>
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Locations</h2>
                </div>
                <div class="col-sm-6">
                    <a href="/location/create" class="btn btn-success">
                        <i class="material-icons">&#xE147;</i>
                        <span>Create New Location</span>
                    </a>
                    <div style="float: right">
                        <label for="search">Search</label>
                        <input type="text" id="search" autocomplete="off">
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Street</th>
                <th>City</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="table">
            <tr th:each="location : ${locations}">
                <td th:text="${location.street}">Title</td>
                <td th:text="${location.city}">Content</td>
                <td th:text="${location.country}">Price</td>
                <td>
                    <a th:href="@{'/location/edit/' + ${location.id}}" class="edit">
                        <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                    </a>
                    <a href="#deleteLocationModal" class="delete" data-toggle="modal"
                       th:onclick="'deleteLocationModal(' + ${location.id} + ')'">
                        <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix" th:if="${locations.totalPages gt 0}">
            <ul class="pagination">
                <li class="page-item" th:classappend="${locations.number eq 0} ? 'disabled'">
                    <a class="page-link"
                       th:href="'/locations?page=' + ${locations.number lt 2 ? 1 : locations.number}">Previous</a>
                </li>
                <li class="page-item" th:classappend="${i eq locations.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, locations.totalPages, 1)}">
                    <a class="page-link" th:href="'/locations?page='+${i}" th:text="${i}"
                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${locations.number + 1 eq locations.totalPages} ? 'disabled'">
                    <a class="page-link" th:href="'locations?page=' + ${locations.number + 2}">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:replace="/location/delete :: deleteLocationModal"></div>
</body>
</html>