<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/reusable/header :: head(title='Departments')"></head>
<body>
<div th:replace="/reusable/scripts :: scripts"></div>
<div th:replace="/reusable/navbar_app :: navbarApp"></div>
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Departments</h2>
                </div>
                <div class="col-sm-6">
                    <a href="/department/create" class="btn btn-success">
                        <i class="material-icons">&#xE147;</i>
                        <span>Create New Department</span>
                    </a>
                    <div style="float: right">
                        <label for="search">Search</label>
                        <input type="text" id="search" autocomplete="off">
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Street</th>
                <th>City</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="table">
            <tr th:each="department : ${departments}">
                <td th:text="${department.name}">Name</td>
                <td th:text="${department.location.street}">Street</td>
                <td th:text="${department.location.city}">City</td>
                <td th:text="${department.location.country}">Country</td>
                <td>
                    <a th:href="@{'/department/edit/' + ${department.id}}" class="edit">
                        <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                    </a>
                    <a href="#deleteDepartmentModal" class="delete" data-toggle="modal"
                       th:onclick="'deleteDepartmentModal(' + ${department.id} + ')'">
                        <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix" th:if="${departments.totalPages gt 0}">
            <ul class="pagination">
                <li class="page-item" th:classappend="${departments.number eq 0} ? 'disabled'">
                    <a class="page-link"
                       th:href="'/departments?page=' + ${departments.number lt 2 ? 1 : departments.number}">Previous</a>
                </li>
                <li class="page-item" th:classappend="${i eq departments.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, departments.totalPages, 1)}">
                    <a class="page-link" th:href="'/departments?page='+${i}" th:text="${i}"
                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${departments.number + 1 eq departments.totalPages} ? 'disabled'">
                    <a class="page-link" th:href="'departments?page=' + ${departments.number + 2}">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:replace="/department/delete :: deleteDepartmentModal"></div>
</body>
</html>